---
import React, { useState } from 'react';

import { Bars3Icon } from '@heroicons/react/24/outline'
import { IconBrandInstagram, IconBrandFacebook, IconMail } from '@tabler/icons-react';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
const baseUrl = import.meta.env.BASE_URL;

const emailLink = "mailto:contact@lula.tattoo?subject=Tattoo%20Request";
const instagramUrl = "https://instagram.com/tattoosbytalulla";
const facebookUrl = "#";

const pageTitle = "Tattoos by Talulla Bowyer";
const pageDescription = "Talulla is a Tattoo Artist based in East Devon, UK.";
const ogImage = "https://lula.tattoo/_astro/IMG-20241105-WA0003.D-TkvAp-_Q6jSm.webp"
const siteDomain = "lula.tattoo";
const siteUrl = "https://" + siteDomain;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>

	    <meta name="description" content={pageDescription}>
		<meta name="keywords" content="Talulla Bowyer, Tattoo, Tattoos, Devon Tattoos, tattoosbytalulla">
		<meta name="robots" content="index, follow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="language" content="English">
		<meta name="revisit-after" content="7 days">
		<meta name="author" content="Talulla Bowyer">

		<meta property="og:url" content={siteUrl}>
		<meta property="og:type" content="website">
		<meta property="og:title" content={pageTitle}>
		<meta property="og:description" content={pageDescription}>
		<meta property="og:image" content={ogImage}>

		
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content={siteDomain}>
		<meta property="twitter:url" content={siteUrl}>
		<meta name="twitter:title" content={pageTitle}>
		<meta name="twitter:description" content={pageDescription}>
		<meta name="twitter:image" content={ogImage}>


	</head>

	<body>
		<div id="mobile-menu" class=" absolute z-50 h-screen w-96 bg-bg-gray hidden">
			<div class="w-full flex flex-col text-xl p-4 h-full" >
				<div class="top-0 left-full flex ">
					<button id="menu-close" type="button" >
					<span class="sr-only">Close sidebar</span> <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path></svg>
					</button>

					<div class="flex grow justify-end items-center px-4">
						<div class="flex space-x-2">
							<a class={currentPath === "" ? "text-white" : ""} href={instagramUrl}>
								<IconBrandInstagram class="size-12 text-white" />
							</a>
							<a class={currentPath === "" ? "text-white" : ""} href={facebookUrl}>
								<IconBrandFacebook class="size-12 text-white" />
							</a>
							<a class={currentPath === "" ? "text-white" : ""} href={emailLink}>
								<IconMail class="size-12 text-white" />
							</a>
						</div>
					</div>
				</div>

				<div class="flex flex-col py-4 grow">
					<a class={currentPath === "" ? "text-white" : "text-gray-300"} href="/">Home</a>
					<a class={currentPath === "contact" ? "text-white" : "text-gray-300"} href="/contact">Contact</a>
				</div>

				


			</div>
		</div>
		<div id="main-container" class="relative flex  flex-col min-h-screen ">
			
			<header class="sticky top-0 z-40  ">
			    <div class="devktop-nav flex w-full p-4 bg-bg-gray">
					<div class="hidden w-1/3 items-center space-x-4 text-sm text-white md:flex">
						<a class={currentPath === "" ? "text-white" : ""} href="/">Home</a>
						<a class={currentPath === "contact" ? "text-white" : ""} href="/contact">Contact</a>
					</div>

					<div class="flex md:hidden">
						<Bars3Icon id="menu-open" className="h-6 w-6 text-white "  />
					</div>

					<div class="flex grow items-center justify-center">
						<p class="text-xl text-white">Talulla Bowyer</p>
					</div>
					<div class="hidden w-1/3 items-center justify-end space-x-4 text-sm text-white md:flex">
						<a href={facebookUrl}>Facebook</a>
						<a href={instagramUrl}>Instagram</a>
						<a href={emailLink}>Email</a>
					</div>
				</div>
				

			</header>
			<main class="grow bg-bg-gray">
				<slot />
			</main>
			<footer class="bottom-0 z-40 flex w-full items-center justify-center p-4 bg-bg-gray">
				<p class="text-white">© Talulla Bowyer</p>
			</footer>
		</div>
	</body>
</html>

<script>
  const menuOpen = document.getElementById('menu-open');
  const menuClose = document.getElementById('menu-close');
  const mainContainer = document.getElementById('main-container');
  const mobileMenu = document.getElementById('mobile-menu');

  menuOpen.addEventListener('click', () => {
    mobileMenu.classList.remove('hidden');
	mainContainer.classList.add('stop-scroll')
  });

  menuClose.addEventListener('click', () => {
    mobileMenu.classList.add('hidden');
	mainContainer.classList.remove('stop-scroll')
  });
</script>
